
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}





<section id="features" class="bg-white">

  <div class="container">
    <div class="row">

      <div class="col-lg-8 mx-auto">

        <h2>Features</h2>

        <div class="col"><img class="float-right" style="height: 80px" src="{% static "images/features.png" %}" alt="feature_image"></div>

        <p class="lead text-justify">The chart below shows the Featues currently being worked on

         they are categorized by their status (the status is updated live):

        </p>

        {{ FeaturesPieChart|safe}}

      </div>

    </div>

  </div>

</section>

<section id="bugs">

  <div class="container">

    <div class="row">

      <div class="col-lg-8 mx-auto">

        <h2>Bugs</h2>

        <div class="col"><img class="float-right" style="height: 80px" src="{% static "images/bug.png" %}" alt="bug_image"></div>

        <p class="lead text-justify">The graph below shows the bugs that were

          posted and are categorized by their status on this site. You can always

          come back here to check how the app development is progressing... </p>

        {{ BugsPieChart|safe}}

      </div>

    </div>

  </div>

</section>

 <p class="footer-text center">&copy;2019 Unicorn Attractor | Web design by Des Flaherty</p>
</div>
</div>
{% endblock %}

