{% extends "base.html" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}
<div class="container">
    <div class="page-container">
<div class="content-wrap">
<p class="reset-text center visible-lg visible-md">We've e-mailed you instructions for setting your password</p> 
<p class="reset-text center visible-lg visible-md">to the e-mail address you submitted. You should be receiving it shortly.</p>
<p class="reset-text-s center visible-sm visible-xs">We've e-mailed you instructions</p>
<p class="reset-text-s center visible-sm visible-xs">for setting your password</p>
<p class="reset-text-s center visible-sm visible-xs">to the e-mail address you submitted.</p>
<p class="reset-text-s center visible-sm visible-xs">You should be receiving it shortly.</p>

{% include 'footer.html' %}
</div>
</div>
{% endblock %}