{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container">
    <div class="page-container">
<div class="content-wrap">
<form method="post" class="accountform">
    <p class="reset-text visible-lg visible-md">Please specify your email address to receive instructions for resetting it.</p>
    <p class="reset-text-s visible-sm visible-xs">Please specify your email address to receive instructions for resetting it.</p>
    <br>
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    
    <p><label for="id_email" class="control-label required-field ">E-mail address:</label>
    <div class="email">
     {{ form.email }}
     </div>
    <input type="submit" class="reset-btn" value="Reset password" /></p>
</form>
</div>
{% include 'footer.html' %}
</div>
</div>
{% endblock %}