{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="page-container">
        <div class="content-wrap">
            <div class="form-display left">
                <form action="{% url 'search' %}" method="get">
                    <input class="input" type="text" name="q">
                    <button class="btn-search" type="submit">Search</button>
                    <a href="features.html"><button class="btn-search">Reset</button></a>
                </form>
            </div>
            <legend class="legend center">Features</legend>
            <div class="section-description center">
                <p class="section-text-b visible-lg visible-md visible-sm">If there is a Feature you would like to have developed, you can add that Feature to your cart </p>
                <p class="section-text-b visible-lg visible-md visible-sm">and checkout at a cost of €100 per upvote. We spend 50% of our time developing the most upvoted Feature</p>
                <p class="section-text-b visible-xs">If there is a Feature you would</p>
                <p class="section-text-b visible-xs">like to have developed you can add</p>
                <p class="section-text-b visible-xs">that Feature to your cart and checkout </p>
                <p class="section-text-b visible-xs">at a cost of €100 per upvote</p>
                <p class="section-text-b visible-xs">We spend 50% of our time developing</p>
                <p class="section-text-b visible-xs">the most upvoted Feature</p>
            </div>
            {% if user.is_authenticated %}
            <div class='center'>
                <a class='btn btn-primary add-section-btn' href="{% url 'add_feature' %}"><i class="fa fa-plus"></i> Add
            Feature</a>
            </div>
            {% endif %}
            <div class="row row-flex">
                {% for feature in features %}
                <div class="col-xs-12 col-xs-offset-1 col-sm-offset-0 col-sm-5 col-md-3 col-lg-3  display panel panel-default center">
                    <div class="panel-body">
                        {% if feature.status == 'ToDo' %}
                        <p class='red circle'></p>
                        {% elif feature.status == 'Doing' %}
                        <p class='orange circle'></p>
                        {% elif feature.status == 'Done' %}
                        <p class='green circle'></p>
                        {% endif %}
                        <h4 class="section-text-b">{{feature.name }}</h4>
                        <p class=' inline section-text-b'>Status&#58;</p>
                        {% if feature.status == 'ToDo' %}
                        <p class='inline status-todo'>{{ feature.status }}</p>
                        {% elif feature.status == 'Doing' %}
                        <p class='inline status-doing'>{{ feature.status }}</p>
                        {% elif feature.status == 'Done' %}
                        <p class='inline status-done'>{{ feature.status }}</p>
                        {% endif %}
                        <p>Issued&#58;{{ feature.created_date }}</p>
                        <p>{{feature.description }}</p>
                        <form method='get' class='inline' action="{% url 'feature_detail' feature.id %}">
                            <div class=''>
                                <button type='submit' class=' btn btn-primary inline'>View Feature </button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
{% endblock %}
