
html {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background-image: url("../images/office8.jpg");
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    position: relative;
    height: 100%;
    margin: 0%;
    padding: 0;
    padding-top: 100px;
}





.icon-bar {
    background-color: #fff;
}



.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}



caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    padding: 15px;
}


.alert-success {
  background-color:#2e7716
}

.footer-text {
    color: #fff;
    margin-bottom:15px;
    
}

/**************REGISTRATION FORM STYLING************************/

.accountform {
    text-align:center;
     font-size:16px;
}

.help-block {
color:#FFF;
}

.sign-text {
 font-size: 1.25em;
}

.legend {
color:#FFF; 
font-size: 40px;
border-bottom: 0;
}

.form-control {
    width:80%;
    display:inline-block;
    border-radius: 4px;
}

.btn-primary, .btn-success, .btn-danger{
    border-radius:4px;
}

.btn-success {
  background-color:#2e7716;
  border-color:#2e7716;
  margin-bottom:10px;
  
}







/************** NAVBAR STYLING************************/

.navbar-collapse {
    text-align: center;
    border-top: 0px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus  {
    background-color: #b97e2b;
    border-color: #b97e2b;
}


.navbar-default {
    background-color: #b97e2b;
    border-color: #b97e2b;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #b97e2b;
}


/**************LOGIN FORM STYLING************************/

.login-form {
 font-size: 24px;   
}

.reset-txt {
    padding: 10px;
}

/**************INDEX FORM STYLING************************/

.index-header {
    font-size:50px;
    margin-bottom: 80px;
}

.index-text {
    font-size:20px;
    margin-top: 20px;
}

.index-btn-sp {
    margin-top: 100px;
     border-radius: 4px;
     margin-left: 5px;
}


.index-btn {
    border-radius: 4px;
    background-color:#b97e2b;
    border-color:#b97e2b;
    margin-left: 5px;
    
}


.index-btn:hover, .index-btn:focus, .index-btn:active, .index-btn.active, .open>.dropdown-toggle.index-btn ,.index-btn:active:focus{
    margin-top: 100px;
    border-radius: 4px;
    background-color:#b97e2b;
    border-color:#b97e2b;
    margin-left: 5px;
     
}


.register-container {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.inline {
    display: inline-block;
}


.center {
    text-align: center;
}

/**************FOOTER FORM STYLING************************/

footer a {
    color: #FFF;
    font-size: 25px;
    padding: 0 5px;
}

.footer-text {
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  text-align: center;
}




.footer-block {
    width: 100%;
    height: 100px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}





/**************PROFILE FORM STYLING************************/

.profile-head {
    margin-top: 50px;
}

.profile-container {
    width: 50%;
    margin: 0 auto;
}

.profile-bg {
    background-color: rgba(255,255,255,.7);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    border: 0;
    border-radius: .25rem;
    background-clip: border-box;
}

.profile-header {
    background-color:#b97e2b;
}


.profile-body {
    background-color: rgba(255,255,255,.0); 
    color: #000;
    margin-top: 20px;
}

.profile-text-b {
    font-weight: bold;
}

.profile-text {
    font-size: 20px;
    padding-bottom: 5px;
}

/**************FEATURE FORM STYLING************************/

.btn-search {
    background-color:#000;
    color:#FFF;
}

.feature-heading {
    font-size: 40px;
}


/* search input box bg colour */
.input {
    background-color:whitesmoke;
    color:#000;
}

.panel {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: black;
    margin: 0 7px 14px 7px;
    position: relative;
    background-color: rgba(255,255,255,.7);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}




.feature-description {
    margin-top: 20px;
}

.feature-text-b {
    font-weight: bold;
    margin-top: 10px;
}

.add-feature-btn {
    margin-top: 20px;
}

.status-todo {
    color: #9e0e0e;
    font-weight: bold;
}

.status-doing {
    color: orange;
    font-weight: bold;
}

.status-done {
    color: green;
    font-weight: bold;
}

.feature-text-b {
    font-weight: bold;
}


.circle {
	border-radius: 50%;
	width: 15px;
	height: 15px; 
	
}

.red {
background-color:#9e0e0e;    
}

.orange {
background-color: orange;    
}

.green {
    background-color: green; 
}

/**************FEATURE DETAILS FORM STYLING************************/

.comments {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(0,0,0,.3)
}

.user-comment {
    padding: 10px;
    display: grid;
    margin: 10px 0;
    background-color: rgba(0,0,0,.3)
}

.description, .creator-and-date {
    text-align: left;
}

.creator-and-date {
    font-size: 14px;
}

.feature-details-h {
    padding-bottom: 20px;
}

.views {
    padding-top: 20px;
}


.feature {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin-right: 15px;
    border-radius: 30px;
}

/**************CART FORM STYLING************************/

.summary {
    width: 70%;
    margin: 0 auto;
}

.summary-checkout {
    width: 50%;
    margin: 0 auto;
}
.card {
    background-color: rgba(255,255,255,.7); 
}

.card-body {
    background-color: rgba(255,255,255,.0); 
    color: #000;
}
.summary-table {
    width: 170px;
}

.summary-table td{
    padding: 0;
}

.bg-dark {
    background-color: #343a40!important;
}

.summary-text {
    font-size:20px;
    margin-top: 20px;
}


/*****************RESET FORM ****************************************/

.reset-btn {
    background-color: black;
}

.reset-text {
    font-size:30px;
}

.control-label {
    font-size:18px;
}

/*****************GRAPHS FORM****************************************/

.chart {
    margin: 0 auto -50px;
    width: 500px;
}

/*****************MEDIA QUERIES****************************************/

@media screen and (max-width: 1200px) {
    .index-text {
        font-size:18px;
    }
}




@media screen and (max-width: 420px) {
    .footer-text {
       font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .footer-text {
       font-size: 12px;
    }
}


@media screen and (max-width: 320px) {
    .footer-text {
       font-size: 10px;
    }
}

@media screen and (max-width: 320px) {
    .input {
       width: 50%;
    }
}


@media screen and (min-width: 768px) {
    .panel {
    margin: 0 7px 14px 30px;
    }
}

@media screen and (min-width: 1024px) {
    .panel {
    margin: 0 7px 14px 50px;
    }
}

@media (max-width: 768px){
.navbar-nav>li>a {
    font-size:12px;
    }
}

@media screen and (max-width: 584px) {
    .feature-text-b {
   font-size:12px;
    }
}

