<footer class="container-fluid center">

    <div>

        <a class='inline' href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-f"></i></a>
        <a class='inline' href="https://www.instagram.com/accounts/login/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
        <a class='inline' href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        <a class='inline' href="https://github.com/desflaherty/unicorn_tracker" target="_blank"><i class="fa fa-github"></i></a>
        <br>
        <br>
        <p class="footer-text">©2019 Unicorn Attractor | Web development by Des Flaherty</p>

    </div>

</footer>