{% extends 'base.html' %} {% block content %}

<div class="container">
    
        <div class="col-sm-12 col-md-9 col-md-offset-1 col-lg-offset-3">
            <p class="index-header">Unicorn Attractor Bug Tracker</p><br>
             {% if user.is_authenticated %}
             <p class="index-text">Welcome {{ user.username }} you can now add new features that you would like to be developed!</p>
              {% else %}
             <p class="index-text">Browse and record bugs or register to add new features to the application!!</p>
             {% endif %}
        </div>
        
         <div class="register-container">
            {% if user.is_authenticated %}
                <a class="btn btn-success index-btn-sp" href="{% url 'bugs' %}"><i class="fa fa-bug" aria-hidden="true"></i><b>Bugs</b></a>
                <a class="btn btn-success index-btn-sp" href="{% url 'features' %}"><i class="fa fa-plus"></i><b>Features</b></a>
                {% else %}
                <a class="btn btn-success index-btn-sp" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        
 </div>

{% include 'footer.html' %}
{% endblock %}

